/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --color-primary: #062d13;
    --color-background: #f2fbf5;
  }

  .dark {
    --color-primary: #ffffff;
    --color-background: #000000;
  }
}
