/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --color-primary: #062d13;
    --color-primary-soft: #374B3E;
    --color-background: #f2fbf5;
    --color-card: #ffffff;
    --color-muted: #e5e7eb;
  }

  .dark {
    --color-primary: #86efac;
    --color-primary-soft: #4ade80;
    --color-background: #0a1410;
    --color-card: #13231b;
    --color-muted: #1f2e26;
  }
}
